@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

 body {
       text-aling: center;
        font-family: 'Roboto';
         background-color:00BFFF
}

   .square{
       text-aling: center
       widthi: 50px;
       background: #eee;
       disolay: inline-block;
       padding: 40px;
       font-size: 60px;]
        margin: 5px;
        cursor:pointer;
        color: 00BFFF;
   }
